GITHUB_TOKEN=PASTE_GITHUB_TOKEN_HERE
VERCEL_TOKEN=PASTE_VERCEL_TOKEN_HERE

# org or username
GITHUB_OWNER=Kushagra-salescode

# Keep repo name & project name same for clarity (good practice).
REPO_NAME=vercel-private-auto
VERCEL_PROJECT_NAME=vercel-private-auto
PRODUCTION_BRANCH=main

# Set to "user" for usernames, "org" for organizations
GITHUB_OWNER_TYPE=user
